- if @teams.empty?
  .eleven.columns.centered#Main
    %h3.subheader= t(:none_html, scope: [:controllers, :teams])

- else
  .nine.columns.centered#Main
    %table.twelve#TeamList
      %thead
        %tr
          = render partial: 'shared/sortable', locals: {name: 'Name', field: 'name', classes: 'three'}
          = render partial: 'shared/sortable', locals: {name: 'Velocity', field: 'velocity', classes: 'two'}
          = render partial: 'shared/sortable', locals: {name: 'Iteration', field: 'iteration', classes: 'two'}
          %th.five= 'Projects'

      %tbody
        = render @teams
