= form_for @service do |f|
  - if @service.errors.any?
    #error_explanation
      %h2= "#{pluralize(@service.errors.count, "error")} prohibited this service from being saved:"
      %ul
        - @service.errors.full_messages.each do |msg|
          %li= msg

  .row
    .four.columns
      = f.label :name
      = f.text_field :name
    .two.columns.end
      = f.label :abbreviation
      = f.text_field :abbreviation
  .row
    .actions
      = f.submit 'Save'
      \|
      = link_to 'Delete', @service, method: :delete, data: { confirm: "WARNING: Are you sure you want to delete this service?" }
      \|
      = link_to 'Cancel', :back
