%table.eleven#Services
  %thead
    %tr
      %th= render partial: 'shared/sortable', locals: {name: 'Service', field: 'name'}
      %th= render partial: 'shared/sortable', locals: {name: 'Abbreviation', field: 'service'}
      %th

  %tbody
    - @services.each do |service|
      %tr
        %td= service.name
        %td= service.abbreviation
        %td
          = render partial: 'shared/links', locals: { links: [:edit, :destroy], object: service}
