.row
  = render 'shared/top_bar'

.row
  = render 'shared/side_navigation'

  .eleven.columns
    %h3.subheader= 'Service'
    .row
      %h4.tweleve.columns= "#{@service.name}(#{@service.abbreviation})"
    .row
      .actions
        = link_to 'Edit', edit_service_path(@service)
        \|
        = link_to 'Back', services_path
