%h2 Account Settings

.devise.expanded
  = form_for resource, as: resource_name, url:registration_path(resource_name), html:{method: :put } do |f|
    = devise_error_messages!

    .row-fluid.section
      .span5
        = f.label :email
        = f.email_field :email, autofocus: true, class: 'span12'

    .row-fluid
      .span10
        = f.label :password

    .row-fluid
      .span5
        = f.password_field :password, autocomplete: 'off', class: 'span12'
      .span4
        %i
          Leave blank to not change your password

    .row-fluid
      .span5
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: 'span12'

    .row-fluid
      .span10
        = f.label :current_password

    .row-fluid.section
      .span5
        = f.password_field :current_password, class: 'span12'
      .span4
        %i
          Needed to confirm your changes

    .row-fluid
      .span3.offset2.text-right
        = f.submit 'Update', class: 'btn btn-small btn-flat btn-primary'
        = link_to 'Back', :back, class: 'btn btn-small btn-flat btn-link'

= render 'layouts/messages'
