- content = @filter.content || {}
- classes = []
- classes << 'visible' if !@filter.errors.empty? || params[:show]

.filter_container.nine.columns.centered#Filter{data: {filter: 'data-filter'}, class: classes}
  = form_for @filter, url: tasks_path, method: :get, remote: true do |f|
    - if @filter.errors.any?
      .row
        .twelve.columns#error_explanation
          %h2= "#{pluralize(@filter.errors.count, "error")} prohibited this filter from being saved:"
          %ul
            - @filter.errors.full_messages.each do |msg|
              %li= msg
    
    .row.section
      = f.hidden_field :id
      = f.hidden_field :area
      .twelve.columns
        = f.label :name
        = f.text_field :name
    
    .row.section
      .four.columns
        = check_box_tag 'filter[content][group_by]', 1, content[:group_by] == :iteration, data: {group_by: :iteration}
        = label_tag 'group_by', 'Group tasks by iteration', class: 'inline_label'
    
    .row.section
      .three.columns
        = label_tag 'status', 'Status'
        = select_tag 'filter[content][status]', options_for_select(StatusScopes.all_states, StatusScopes.collapse(content[:status]))
      .three.columns
        = label_tag 'teams', 'Team'
        = select_tag 'filter[content][teams]', options_for_select(Team.all_teams, content[:teams] || '')
      .three.columns.end
        = label_tag 'projects', 'Projects'
        = select_tag 'filter[content][projects]', options_for_select(Project.all_projects, content[:projects] || '')

    .row.section.task_filter{class: content[:group_by] ? 'hidden' : nil}
      .two.columns.multi-select
        = label_tag 'services', 'Services'
        = select_tag 'filter[content][services]', options_for_select(Service.all_services, content[:services] || ''), multiple: true
      .five.columns.multi-select
        = label_tag 'stories', 'Stories'
        = select_tag 'filter[content][stories]', options_for_select(Story.all_stories, content[:stories] || ''), multiple: true
      .four.columns.end
        .row
          .nine.columns.end
            = label_tag 'points', 'Minimum Points'
            = select_tag 'filter[content][min_points]', options_for_select(Task.all_points, content[:min_points])
        .row
          .nine.columns.end
            = label_tag 'points', 'Maximum Points'
            = select_tag 'filter[content][max_points]', options_for_select(Task.all_points, content[:max_points])

    .row
      .four.columns.offset-by-eight.text-right.actions
        = submit_tag 'Apply', name: :apply
        - if @filter.new_record?
          \|
          = submit_tag 'Save', name: :commit_filter
        - else
          \|
          = submit_tag 'Update', name: :commit_filter
          \|
          = link_to 'Delete', tasks_path(destroy: true), method: :delete, data: { confirm: "#{t(:warning_html, scope: :filter)}" }, remote: true
        \|
        = link_to 'Close', '#', data: {filter_close: true}
