= form_for @task, remote:true do |f|
  - if @task.errors.any?
    .row
      .twelve.columns#error_explanation
        %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
        %ul
          - @task.errors.full_messages.each do |msg|
            %li= msg

  .row
    .seven.columns
      = f.select :story_id, Story.in_title_order.all.collect {|s| [ s.title, s.id ] }
    .three.columns.offset_by_two
      = f.select :status, Task::STATUS.map{|t| [I18n.t(t, scope: [:activerecord, :labels, :task]), t]}
  .row
    .two.columns.end
      = f.select :project_id, Project.in_name_order.all.collect {|p| [ p.name, p.id ] }
  .row
    .two.columns.offset-by-ten
      = f.submit 'Save'
      \|
      = link_to 'Cancel', task_path(@task), remote: true
