- classes = cycle('odd', 'even')
- in_edit_mode ||= []
- options = {remote: true}
- options[:disabled] = 'disabled' if task.completed?
- task ||= @task

- if in_edit_mode.include?(task.id)
  %li#Task{id: task.id, class: classes}
    = render partial: 'edit', locals: {task:task, remote:true}

- else
  - data = task.description.present? ? {width: '350px'} : {}
  - details = task.description.present? ? task.description : t(:no_details_html, scope: [:activerecord, :labels, :task])
  %li.task_inline#Task{id: task.id, class: classes}
    .row
      .seven.columns
        .title{class: 'has-tip', title: details, data: data}= task.title
      .three.columns.offset_by_two.last.text_right
        = task_status_tag(task)
        .command_block.on_hover<
          = glyph_button_to 'Advance', url_for(controller: :tasks, action: :advance, id: task.id), options.merge(glyph: 'check')
          = glyph_link_to edit_task_path(task), glyph: 'edit', remote:true
    .row
      .two.columns<
        = task.project.name
      .three.columns<
        = task.story.service.abbreviation if task.story.present?
      .three.columns.end
        .points<
          - ((Task::POINTS_MINIMUM+1)..Task::POINTS_MAXIMUM).each do |point|
            %span<
              %i.small.glyphicon{class: point <= (task.points || -1) ? 'star' : 'dislikes'}
    .row
      .twelve.columns
        .description= task.description
