- in_edit_mode ||= []
- iteration ||= nil
- classes = (iteration ? "iteration_#{iteration} " : '') << cycle('odd', 'even')
- options = {remote: true}
- options[:disabled] = 'disabled' if task.completed?
- task ||= @task

- if in_edit_mode.include?(task.id) || task.new_record?
  %li#Task{id: task.new_record? ? 'new' : task.id, class: classes, data: {iteration: iteration}}
    = render partial: 'edit', locals: {task:task, remote:true}

- else
  %li.task_inline#Task{id: task.id, class: classes, data: {iteration: iteration}}
    .row
      .seven.columns
        .title{title_options(task)}= task.title
      .three.columns.offset_by_two.last.text_right
        = task_status_tag(task)
        .command_block.on_hover<
          = glyph_button_to 'Advance', url_for(controller: :tasks, action: :advance, id: task.id), options.merge(glyph: 'check')
          = glyph_link_to edit_task_path(task), glyph: 'edit', remote:true
    .row
      .two.columns<
        = task.project.name
      .three.columns<
        = task.story.service.abbreviation if task.story.present?
      .three.columns.end
        .points<
          .overlay{class: points_to_class(task.points)}<
            - ((Task::POINTS_MINIMUM+1)..Task::POINTS_MAXIMUM).each do |points|
              %i.small.glyphicon{class: 'star', data: {points:points}}
          - ((Task::POINTS_MINIMUM+1)..Task::POINTS_MAXIMUM).each do |points|
            %i.small.glyphicon{class: 'dislikes', data: {points:points}}
        .printed-points<
          - ((Task::POINTS_MINIMUM+1)..Task::POINTS_MAXIMUM).each do |point|
            %span<
              %i.small.glyphicon{class: point <= (task.points || -1) ? 'star' : 'dislikes'}
    .row
      .twelve.columns
        .description= task.description
