- classes = 'status label radius ' + (task.completed? ? 'success' : (task.unscheduled? ? 'alert' : ''))
- options = {remote: true}
- options[:class] = 'has-tip' unless task.completed?
- options[:disabled] = 'disabled' if task.completed?

%tr#Task{id: task.id}
  %td= task.story.title
  %td= task.story.service.abbreviation
  %td= task.project.name
  %td= content_tag('span', I18n.t(task.status, scope: [:activerecord, :labels, :task]), class: classes)
  %td
    = glyph_button_to 'Advance', url_for(controller: :tasks, action: :advance, id: task.id), options.merge(glyph: 'new_window', title: I18n.t(task.next_status, scope: [:controllers, :actions]))
    = glyph_button_to 'Complete', url_for(controller: :tasks, action: :complete, id: task.id), options.merge(glyph: 'check', title: I18n.t(:complete, scope: [:controllers, :actions]))
    = render partial: 'shared/links', locals: {object: task}
