%table.eleven#Tasks
  %thead
    %tr
      %th.four= render partial: 'shared/sortable', locals: {name: 'Story', field: 'story'}
      %th.two= render partial: 'shared/sortable', locals: {name: 'Service', field: 'service'}
      %th.two= render partial: 'shared/sortable', locals: {name: 'Project', field: 'project'}
      %th.two= render partial: 'shared/sortable', locals: {name: 'Status', field: 'status'}
      %th.two.end

  %tbody
    = render @tasks
