- classes = cycle('odd', 'even')
- in_edit_mode ||= []
- options = {remote: true}
- options[:disabled] = 'disabled' if task.completed?

- if in_edit_mode.include?(task.id)
  %li.task_edit#Task{id: task.id, class: classes}
    .row
      .twelve.columns
        = form_for @task, remote:true do |f|
          - if @task.errors.any?
            .row
              .twelve.columns#error_explanation
                %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
                %ul
                  - @task.errors.full_messages.each do |msg|
                    %li= msg

          .row
            .seven.columns
              - if task.story.present?
                .title= task.title
              - else
                = f.text_field :title
            .three.columns.offset_by_two
              = f.select :status, Task::STATUS.map{|t| [I18n.t(t, scope: [:activerecord, :labels, :task]), t]}
          .row
            .two.columns
              = f.select :project_id, Project.in_name_order.all.collect {|p| [ p.name, p.id ] }
            - if task.story.present?
              .three.end.columns{style: 'line-height:22px'}= task.story.service.abbreviation
          .row
            .three.columns.offset-by-nine
              = f.submit 'Save'
              \|
              = link_to 'Delete', @task, method: :delete, data: { confirm: "WARNING: Are you sure you want to delete this task?" }, remote: true
              \|
              = link_to 'Cancel', task_path(@task), remote: true
- else
  %li.task_inline#Task{id: task.id, class: classes}
    .row
      .seven.columns
        .title= task.title
      .three.columns.offset_by_two.last.text_right
        = task_status_tag(task)
        .command_block.on_hover<
          = glyph_button_to 'Advance', url_for(controller: :tasks, action: :advance, id: task.id), options.merge(glyph: 'check')
          = glyph_link_to edit_task_path(task), glyph: 'edit', remote:true
    .row
      .one.columns= task.project.name
      - if task.story.present?
        .three.end.columns= task.story.service.abbreviation
