#Main
  - unless @filter.empty?
    .row
      .span7
        %p.overview
          = t(:filtered_by_html, scope: [:filter], name: @filter.new_record? ? 'Dynamic' : @filter.name)
  .row
    .span7
      - if @tasks.is_a?(IterationEnumerator)
        - projects = @filter.content[:projects] || @tasks.team.projects.map{|p| p.id}
        - states = @filter.content[:status] || []
        - states = StatusScopes::ALL_STATES if states.empty?
        - @tasks.each_iteration(-1) do |iteration|
          .iteration-marker{data: {iteration: iteration.number, collapsed: 0}}
            .row.iteration-toggle
              .span2
                .glyphicon.collapse_top
                .date= iteration.end_date.to_formatted_s(:medium)
              .span5
                %span.badge.badge-inverse= iteration.points
                \|
                %span.badge.badge-success= iteration.completed
                %span.badge.badge-info= iteration.in_progress
                %span.badge.badge-important= iteration.pending
          %ol.unstyled.task-list<
            - tasks = iteration.tasks.find_all{|task| states.include?(task.status) && projects.include?(task.project.id)}
            - if tasks.count > 0
              = render partial: 'task', collection: tasks, locals: {edited: @edited, expanded: @expanded, iteration: iteration.number}
            - else
              %li{data: {iteration: iteration.number, collapsed: 0, empty: 1}}
                %h3.subheader= t(:none_html, scope: [:controllers, :tasks])
        %div
          :javascript
            $(function() {$('body').trigger('iteration.visibility');});
      - else
        - if @tasks.count > 0
          .task-sort
            %table.table
              %thead
                %tr
                  = render partial: 'shared/sortable', locals: {name: 'Title', field: 'title', classes: 'span3'}
                  = render partial: 'shared/sortable', locals: {name: 'Points', field: 'point', classes: 'span2'}
                  = render partial: 'shared/sortable', locals: {name: 'Status', field: 'status', classes: 'span2'}
          .row
            .span7
              %ol.unstyled.task-list<
                = render partial: 'task', collection: @tasks, locals: {edited: @edited, expanded: @expanded}
        - else
          %h3.subheader= t(:none_html, scope: [:controllers, :tasks])
  = render template: 'shared/bind_list'
