- in_edit_mode ||= []
- iteration = 0 unless defined?(iteration)
- options = {remote: true}
- options[:disabled] = 'disabled' if task.completed?
- task ||= @task

- if in_edit_mode.include?(task.id) || task.new_record?
  %li.task.edit-mode#Task{id: task.new_record? ? 'new' : task.id, class: classes, data: {iteration: iteration}}
    = render partial: 'edit', locals: {task:task, remote:true}

- else
  %li.task#Task{id: task.id, data: {iteration: iteration, open: 0}}
    .row.summary
      .span3
        .title= task.to_s
      .span2
        .points<
          .overlay{class: points_to_class(task.points)}<
            - Task::POINTS_MAXIMUM.downto(Task::POINTS_MINIMUM+1) do |points|
              %i.small.glyphicon{class: 'star', data: {points:points}}
          - Task::POINTS_MAXIMUM.downto(Task::POINTS_MINIMUM+1) do |points|
            %span.small.glyphicon{data: {points:points}}<
              %i.small.glyphicon{class: 'dislikes'}
      .span2.box{class: task.status || :pending}
        .release-date<
          =task.story.release_date.to_date.to_s(:medium) if task.story.present? && task.story.release_date.present?
          .command-block.on-hover.text-right><
            = awesome_link_to '', '#', glyph: 'awesome-info-sign', remote:true
            = awesome_button_to 'Advance', url_for(controller: :tasks, action: :advance, id: task.id), options.merge(glyph: 'awesome-check')
    .row.full
      .span7.box{class: task.status || :pending}
        .description= task.description
        .row
          .span2
            .project= task.project.name
          .span4
            - if task.story.present? && task.story.contact_us_number.present?
              %a.contact-us{href: task.story.contact_us_link, target: '_blank'}="CU ##{task.story.contact_us_number}"
            - else
              &nbsp;
