- current_area = controller.controller_name.to_sym
- disable_filter = !controller.is_index_action || !controller.template_exists?('filter', [controller.controller_name], true)

%ul#AreaMenu
  %li.divider
  - [[:tasks, 'list'], [:stories, 'notes_2'], [:projects, 'folder_open'], [:teams, 'group']].each do |area|
    - classes = "has-tip #{current_area == area.first && controller.is_index_action ? 'active' : nil}"
    %li{class: classes, title: t(:name_html, scope:[:controllers, area.first])}
      = glyph_link_to url_for(controller: area.first, action: :index), glyph: "white small #{area.last}"
  %ul.right
    %li.divider
      %li{class: 'has-tip', title: t(:new_html, scope: [:controllers, current_area])}
        = glyph_link_to url_for(controller: current_area, action: :new), glyph:'white small circle_plus', remote: true
      %li.has-dropdown
        = glyph_link_to '#', glyph:'white small cogwheels', disabled: disable_filter
        = render 'shared/filter_menu' unless disable_filter
