- filter = session[:filter] || {}

.filter_container.eleven.columns#Filter{data: {filter: 'data-filter'}}
  = form_tag url_for(controller: controller.controller_name, action: :index), method: :get, remote: true do
    .row
      .three.columns
        = label_tag 'status', 'Status'
        = select_tag 'status', options_for_select(Task.all_states, filter[:status])
      .three.columns
        = label_tag 'projects', 'Projects'
        = select_tag 'projects', options_for_select(Project.all_projects, filter[:projects]), multiple: true, class: 'height-medium'
      .three.columns.end
        = label_tag 'services', 'Services'
        = select_tag 'services', options_for_select(Service.all_services, filter[:services]), multiple: true, class: 'height-medium'
    .row
      .right.actions
        = submit_tag 'Apply'
        \|
        = link_to 'Clear', url_for(controller: controller.controller_name, action: :reset), class:'reset-filter', remote: true
        \|
        = link_to 'Close', '#', class: 'close-filter'
