- shared_filters = (controller.respond_to?(:shared_filters) && controller.shared_filters) || []
- user_filters = (controller.respond_to?(:user_filters) && controller.user_filters) || []

%ul.dropdown-menu#FilterMenu
  - if shared_filters.present?
    - shared_filters.each do |filter|
      %li{class: @filter.id == filter.id ? 'active' : nil}
        = link_to filter.name, url_for(controller: controller.controller_name, action: :index, filter: filter.to_hash(:id)), data:{filter_link: 1}, remote: true
    %li.divider
  - if user_filters.present?
    - user_filters.each do |filter|
      %li{class: @filter.id == filter.id ? 'active' : nil}
        = link_to filter.name, url_for(controller: controller.controller_name, action: :index, filter: filter.to_hash(:id)), data:{filter_link: 1}, remote: true
    %li.divider
  %li= link_to t(:new_html, scope: [:filter]), url_for(controller: controller.controller_name, action: :index, reset: true, show: true), data:{filter_link: 1}, remote: true
  - if @filter.present? && !@filter.content.empty?
    %li= link_to t(:edit_html, scope: [:filter]), 'javascript:void();', data: {filter_toggle: true}
  %li= link_to t(:clear_html, scope: [:filter]), url_for(controller: controller.controller_name, action: :index, reset: true), data:{filter_link: 1}, remote: true
