.row-fluid.overview
  .span5
    %p
      - if @filter.empty?
        = t(:unfiltered_html, scope: [:filter])
      - elsif @filter.new_record?
        = t(:filtered_by_html, scope: [:filter], name: t(:filtered_dynamic_html, scope: [:filter]))
      - else
        = t(:filtered_by_html, scope: [:filter], name: @filter.name)
        = t(:filter_modified_html, scope: [:filter]) if session[:filter_hash] != @filter.hash
  - if controller.controller_name == 'tasks'
    .span7
      .command-block
        Print
        = link_to 'Cards', url_for(controller: :tasks, action: :print, style: :cards), target: '_blank'
        \|
        = link_to 'List', url_for(controller: :tasks, action: :print, style: :list), target: '_blank'
