- current_area = controller.controller_name
- current_name = current_area.titleize
- current_area = current_area.to_sym

.twelve.columns.centered<
  .fixed.contain-to-grid<
    %nav.top-bar<
      %ul.two.columns
        %li.name
          %h1<
            %i.white.glyphicon.show_thumbnails_with_lines
            = 'Tracker'
        %li.toggle-topbar Tracker
      %ul.six.columns
        %li
          #notice= notice
      .four.columns
        .right
          %ul
            - [:stories, :tasks, :projects].each do |area|
              %li.divider
              %li{class: current_area == area ? 'active' : nil}
                = link_to area.to_s.titleize, url_for(controller: area, action: :index)
          - if params[:action] == 'index'
            %ul
              %li.divider
                %li.has-dropdown
                  = glyph_link_to '#', glyph:'white small circle_plus'
                  = render 'add_menu'
                %li.has-dropdown
                  = glyph_link_to '#', glyph:'white small cogwheels'
                  = render 'filter_menu'
