#Grid
  - 0.upto(20) do
    .row
      .span1= '1'
      .span1= '2'
      .span1= '3'
      .span1= '4'
      .span1= '5'
      .span1= '6'
      .span1= '7'
      .span1= '8'
      .span1= '9'
      .span1= '10'
      .span1= '11'
      .span1= '12'
      .span12
        .row
          .span2= '1'
          .span2= '2'
          .span2= '3'
          .span2= '4'
          .span2= '5'
          .span2= '6'
          .span12
            .row
              .span3= '1'
              .span3= '2'
              .span3= '3'
              .span3= '4'
              .span12
                .row
                  .span4= '1'
                  .span4= '2'
                  .span4= '3'
                  .span12
                    .row
                      .span6= '1'
                      .span6= '2'
