- name = controller.controller_name.singularize
- object = controller.instance_variable_get("@#{name}")
.row
  .span7
    = render 'layouts/messages'
    .row-fluid.overview
      .span5
        %p= "New #{name.titleize}"
      .span7
    = render partial: "#{controller.controller_name}/edit"
