- name = controller.controller_name.singularize
- object = controller.instance_variable_get("@#{name}")
.row
  .span8
    %h3.subheader= "#{name.titleize} ##{object.id}"
    = render partial: "#{controller.controller_name}/show"
