- project ||= @project
- remote = false if remote.nil?
- stand_alone = true if stand_alone.nil?

= content_tag stand_alone ? 'div' : 'td', stand_alone ? {} : {colspan: 2} do
  .row
    .twelve.columns
      = form_for project, remote:remote do |f|
        - if project.errors.any?
          .row
            .twelve.columns#error_explanation
              %h2= "#{pluralize(project.errors.count, "error")} prohibited this project from being saved:"
              %ul
                - project.errors.full_messages.each do |msg|
                  %li= msg
        .row
          .four.columns.end
            = f.label :name
            = f.text_field :name
        .row
          - Service.active.each_slice(4) do |services|
            .row
              = render partial: 'service', collection: services, locals: {last: services.length, length: 4, edit: true}
        .row
          .four.columns.offset-by-eight.text-right.actions
            = f.submit 'Save'
            \|
            = link_to 'Delete', project, method: :delete, data:{confirm: "WARNING: Are you sure you want to delete this project?" }, remote:remote
            \|
            = link_to 'Cancel', (project.new_record? ? projects_path : project_path(project)), remote:remote
