- edit ||= false
- classes = []
- classes << ' disabled' unless edit || @project.features.include?(feature)

.span3.features{class: classes}
  - if edit
    = label_tag "project_feature_#{feature.id}" do
      = check_box_tag 'project[features][]', feature.id, @project.features.include?(feature), id: "project_feature_#{feature.id}"
      = feature.name
  - else
    = feature.name
