- edit ||= false
- classes = 'services three columns'
- classes << ' disabled' unless edit || @project.services.include?(service)
- classes << ' end' if last < length
%p{class: classes}
  - if edit
    = check_box_tag 'project[services][]', service.id, @project.services.include?(service), id: "project_service_#{service.id}"
    = label_tag "project_service_#{service.id}", service.abbreviation
  - else
    = service.abbreviation
