- project ||= @project
- remote = false if remote.nil?
- stand_alone = true if stand_alone.nil?

- if stand_alone
  .project.expanded
    %form
      .row-fluid.section
        .span7
          %label= 'Name'
          .title= project.name
      .row-fluid.section
        .span12
          %label= 'Features'
          .features= feature_labels(project.features)
      .row-fluid
        .span4.offset8.text-right
          - if can? :edit, project
            = link_to 'Edit', edit_project_path(project), remote:remote, class: 'btn btn-small btn-flat btn-primary'
            \|
          - if can? :destroy, project
            = link_to 'Delete', project, method: :delete, data: { confirm: "WARNING: Are you sure you want to delete this project?" }, remote:remote, class: 'btn btn-small btn-flat btn-danger'
            \|
          = link_to 'Back', projects_path, class: 'btn btn-small btn-flat btn-link'

- else
  %td= project.name
  %td= project.start_date.to_formatted_s(:medium) if project.start_date.present?
  %td= project.end_date.to_formatted_s(:medium) if project.end_date.present?
  %td
    .features= feature_labels(project.features)
    .command-block.on-hover<
      - if can? :edit, project
        = awesome_link_to '', edit_project_path(project), glyph: 'awesome-edit', remote:true
