- remote = false if remote.nil?
- stand_alone = true if stand_alone.nil?
- story ||= @story

= content_tag stand_alone ? 'div' : 'td', stand_alone ? {class: 'story expanded'} : {colspan: 5} do
  = form_for story, remote:remote  do |f|
    .row-fluid
      .span12
        - if story.errors.any?
          .row-fluid
            .span12
              #error_explanation
                %h2= "#{pluralize(story.errors.count, "error")} prohibited this story from being saved:"
                %ul
                  - story.errors.full_messages.each do |msg|
                    %li= msg

        .row-fluid.section
          .span9
            = f.label :title
            = f.text_field :title, class: 'span12', autofocus: true
          .span3.projects
            = story_project_labels(story)
            = f.label :create_tasks, {} do
              = f.check_box :create_tasks
              = I18n.t(:create_tasks, scope: [:activerecord, :labels, :story])
        
        .row-fluid
          .span3  
            = f.label :feature_id
            = f.select :feature_id, Feature.active.map{|f| [ f.name, f.id ] }, {}, class: 'span12'
          .span3
            = f.label :contact_us_number
            = f.text_field :contact_us_number, size: 5, class: 'span12'
          .span3
            = f.label :release_date
            = f.text_field :release_date, data: {datefield: true}, class: 'span12', type: 'datetime-local'

        .row-fluid
          .span6.offset6.text-right<
            = f.submit 'Save', class: 'btn btn-small btn-flat btn-primary'
            - unless story.new_record?
              \|
              = link_to 'Delete', story, method: :delete, class: 'btn btn-small btn-flat btn-danger', data: { confirm: "WARNING: Are you sure you want to delete this story?" }, remote:remote
            \|
            = link_to 'Cancel', story.new_record? ? stories_path : story_path(story), class: 'btn btn-small btn-link', remote:remote
        = render template: 'shared/bind_dates'
