- story ||= @story
- remote = false if remote.nil?
- stand_alone = true if stand_alone.nil?

- if stand_alone
  .story.expanded
    %form
      .row-fluid.section
        .span9
          %label= 'Title'
          .title= @story.title
        .span3
          %label= 'Projects'
          = story_project_labels(@story)
      .row-fluid.section
        .span2
          %label= 'Feature'
          = @story.feature.name if @story.feature.present?
        .span3
          %label= 'Release Date'
          = @story.release_date.to_date.to_s(:medium) if @story.release_date.present?
      .row-fluid.section
        .span9
          %label= 'References'
          = render partial: 'shared/show_references', locals:{references: story.references}
      .row-fluid
        .span4.offset8.text-right
          - if can? :edit, story
            = link_to 'Edit', edit_story_path(@story), remote:remote, class: 'btn btn-small btn-flat btn-primary'
            \|
          - if can? :destroy, story
            = link_to 'Delete', @story, method: :delete, data: { confirm: "WARNING: Are you sure you want to delete this story?" }, remote:remote, class: 'btn btn-small btn-flat btn-danger'
            \|
          = link_to 'Back', :back, class: 'btn btn-small btn-link'

- else
  %td.span2= story.title
  %td.span1= story.feature.name if story.feature.present?
  %td.span2= story.release_date.in_time_zone.to_date.to_s(:medium) if story.release_date.present?
  %td.span2= render partial: 'shared/show_references', locals:{references: story.references}
  %td.span2
    = story_project_labels(story, (@filter.present? ? @filter.content : {})[:projects])
    .command-block.on-hover<
      - if can? :edit, story
        = awesome_link_to '', edit_story_path(story), glyph: 'awesome-edit', remote:true
