%tr#Story{id: story.id}
  %td= story.title
  %td= story.service.abbreviation if story.service.present?
  %td= story.release_date.in_time_zone.to_date.to_s(:mm_dd_yy) if story.release_date.present?
  %td
    %a{href: story.contact_us_link}= story.contact_us_number
  %td= project_labels(story)
