- if @stories.empty?
  .eleven.columns.centered#Main
    %h3.subheader= t(:none_html, scope: [:controllers, :stories])
- else
  .eleven.columns.centered#Main
    %table.twelve
      %thead
        %tr
          = render partial: 'shared/sortable', locals: {name: 'Title', field: 'story', classes: 'three'}
          = render partial: 'shared/sortable', locals: {name: 'Service', field: 'service', classes: 'two'}
          = render partial: 'shared/sortable', locals: {name: 'Release Date', field: 'date', classes: 'two'}
          = render partial: 'shared/sortable', locals: {name: 'CU', field: 'cu', classes: 'one'}
          %th.three Projects

      %tbody
        = render @stories
