.row
  = render 'shared/top_bar'

.row
  = render 'shared/side_navigation'

  .eleven.columns
    %h3.subheader= 'Story'
    .row
      %p.three.columns
        = 'Feature: '
        = @story.feature.title
      %p.three.columns
        = 'Project: '
        = @story.project.name
      %p.three.columns.end
        = 'Status: '
        = I18n.t @story.status, scope: [:activerecord, :labels, :story]
    .row
      .actions
        = link_to 'Edit', edit_story_path(@story)
        \|
        = link_to 'Back', stories_path
