.row
  = render 'shared/top_bar'

.row
  = render 'shared/side_navigation'

  .eleven.columns
    %h3.subheader= 'Story'
    .row
      .twelve.columns
        = 'Title: '
        = @story.title
    .row
      %p.three.columns
        = 'Service: '
        = @story.service.abbreviation if @story.service.present?
      %p.three.columns
        = 'ContactUs: '
        %a{href: @story.contact_us_link}= @story.contact_us_number
      %p.three.columns.end
        = 'Release Date: '
        = @story.release_date.to_date.to_s(:mm_dd_yy) if @story.release_date.present?
    .row
      .actions
        = link_to 'Edit', edit_story_path(@story)
        \|
        = link_to 'Back', stories_path
