%table.eleven.end#Features
  %thead
    %tr
      %th.three= render partial: 'shared/sortable', locals: {name: 'Title', field: 'feature'}
      %th.two= render partial: 'shared/sortable', locals: {name: 'Service', field: 'service'}
      %th.two= render partial: 'shared/sortable', locals: {name: 'Release Date', field: 'date'}
      %th.one= render partial: 'shared/sortable', locals: {name: 'CU', field: 'cu'}
      %th.three Projects
      %th.one

  %tbody
    = render @features
