- current_area = controller.controller_name.to_sym
- disable_filter = !controller.is_index_action || !controller.template_exists?('filter', [controller.controller_name], true)
- has_print = controller.template_exists?('print_menu', [controller.controller_name], true)
#Navigation
  %a.btn.btn-navbar{data: {toggle: 'collapse', target: '.nav-collapse'}}
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  %a.brand{href: '#'}= 'Tracker'
  .nav-collapse.collapse
    %ul.nav
      - [[:tasks, 'list'], [:stories, 'notes_2'], [:projects, 'folder_open'], [:teams, 'group']].each do |area|
        - classes = "has-tip #{current_area == area.first && controller.is_index_action ? 'active' : nil}"
        %li{class: classes, title: t(:name_html, scope:[:controllers, area.first])}
          = glyph_link_to area.first.to_s.titleize, {controller: area.first, action: :index}, {glyph: "small #{area.last}"}
    %ul.nav
      %li.divider-vertical
      %li
        = link_to t(:new_html, scope: [:controllers, current_area]), url_for(controller: current_area, action: :new), remote: true
      %li.divider-vertical
      - if has_print
        %li.dropdown
          %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
            = t(:print, scope: [:controllers])
            %b.caret
          %ul.dropdown-menu#PrintMenu
            = render 'print_menu'
      - else
        %li= link_to t(:print, scope: [:controllers]), url_for(controller: current_area, action: :print)
      %li.divider-vertical
      %li.dropdown{class: disable_filter ? 'disabled' : nil}
        %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
          Filter
          %b.caret
        = render 'shared/filter_menu' unless disable_filter
